a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display: inline; 
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display: inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.tab {
  overflow: hidden;
  background-color: #163A64;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  text-align: right;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab button {
  background-color: inherit;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
}

.tab button:hover {
  background-color: #0F2A4D;
  text-decoration: underline;
}

.tab button.active {
  background-color: #0A2342;
  color: white;
  text-decoration: none;
}

.tabcontent {
  display: none;
  padding: 60px 20px;
  border: none;
  margin: 0 auto;
  max-width: 1200px;
}

.activecontent {
  display: block;
}

.honors, .projects, .extracurricular {
  margin-top: 20px;
}

.junghyun-link {
  text-decoration: none;
  color: #1772d0;
  font-size: inherit;
}

.junghyun-link:hover {
  color: #0f5a99;
  text-decoration: none;
}

table.extracurricular-table {
  width: 100%;
  border-spacing: 20px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table.extracurricular-table td, table.extracurricular-table th {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table.extracurricular-table th {
  text-align: left;
}
