/**********************/
/* TAB STYLES */
/**********************/

/* 탭 네비게이션 바 */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163A64;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}

/* Tab buttons */
.tab button {
  background-color: inherit;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 0 15px;
  transition: background-color 0.3s ease;
}

/* Change tab button color on hover */
.tab button:hover {
  background-color: #0F2A4D;
  color: white;
  text-decoration: underline;
}

/* Style the active tab button */
.tab button.active {
  background-color: #0A2342;
  color: white;
}

/* Tab content */
.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  height: calc(100% - 60px); /* 네비게이션 바를 제외한 나머지 화면을 차지 */
  overflow: auto; /* 내용이 길어질 경우 스크롤 가능 */
}

/* Show active tab content */
.activecontent {
  display: block;
}
