<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>Junghyun Kim</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="Junghyun Kim" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- External CSS for tab styling -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="style.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- External JS for tab functionality -->
  <script src="script.js"></script>

  <style>
    /* Global styles to ensure consistent width and spacing */
    body {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      font-family: 'Lato', sans-serif;
    }

    h1 {
      text-align: center;
      font-weight: normal;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h3, h4, h5 {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    td, th {
      padding: 12px;
      border-bottom: 1px solid #ddd;
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    .project-thumbnail {
      border-radius: 0;
    }

    p, ul {
      margin-bottom: 30px;
    }

    .intro p {
      margin-bottom: 15px;
    }

    .interest p{
      margin-bottom: 15px;
    }
    
    .project_description h4 {
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .project_description p{
      margin-bottom: 15px;
    }
  </style>
</head>

<body>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
    <button class="tablinks" onclick="openTab(event, 'Honors')">Honors</button>
    <button class="tablinks" onclick="openTab(event, 'Projects')">Projects</button>
    <button class="tablinks" onclick="openTab(event, 'Extracurricular')">Extracurricular Activities</button>
  </div>

  <div id="Home" class="tabcontent activecontent">
    <!-- Home에서 모든 섹션이 보임 -->
      <h1 class="profile-name">Junghyun Kim</h1>
        <table>
        <tr>
            <td style="width: 60%;">
            <div class="intro">
                <p>I'm an undergraduate at <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a>, majoring in Business Administration and <a href="https://computing.yonsei.ac.kr/eng/eng3_1.php">AI & Business (Convergence Advanced Major)</a>.</p>
                <p>I believe that <strong>innovation starts by addressing the discomforts I and those around me experience in daily life</strong>. That's why I put considerable effort into understanding and analyzing users' minds. Now, I am currently strengthening my foundation by taking courses in Consumer Behavior and Strategic Management, studying UX design methodologies in a club, and building an understanding of technical skill sets.</p>
                <p>Previously, I was involved in projects that captured consumer complaints and introduced innovative solutions based on web products. For example, I developed a <strong>web platform for disability mobility rights</strong>, and I also contributed to the creation of a <strong>real-time seat tracking system</strong> as part of the Uni.flow initiative at Yonsei University.</p>
            </div>
                <p style="text-align:center">
                <a target="_blank" href="mailto:justina2003@yonsei.ac.kr">Email</a> &nbsp;/&nbsp;
                <a href="https://Justina-03.github.io/pdfs/Junghyunkim_CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/Justina-03?tab=followers">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/jung-hyun-kim-a9414928b/">LinkedIn</a> &nbsp;/&nbsp;
                <a href="https://shell-swift-2e0.notion.site/Self-Introduction-61417f57c4eb4dbe95a7ab6d6d82d8ec?pvs=4">Notion</a> &nbsp;/&nbsp;
                <a href="/pdfs/portfolio_junghyunkim.pdf">Portfolio</a>
            </p>
            </td>
            <td style="width: 40%; max-width: 40%;">
            <img src="images/profile.png" alt="profile photo">
            </td>
        </tr>
        </table>

    <!-- Education Section -->
    <h2>Education</h2>
    <table style="width: 100%; table-layout: fixed; border-spacing: 20px 10px;">
        <thead>
        <tr>
            <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Degree</th>
            <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Institution</th>
            <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Year</th>
            <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">B.S. in Business Administration & AI and Business</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Yonsei University, Seoul, Korea</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">2022 - Present</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">GPA: 4.06/4.3</td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">High School Diploma</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">CheongShim International Academy</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">2019 - 2022</td>
            <td style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Focus on global talents in the information era</td>
        </tr>
        </tbody>
    </table>

    <!-- Research Interests Section -->
    <h2>Research Interests</h2>
    <div class="interest">
        <p>My academic focus lies in leveraging AI and technology for <strong>social innovation</strong> and <strong>consumer behavior analysis</strong>. I am particularly interested in exploring how <strong>Generative AI</strong> and <strong>Web Development</strong> can address feasible solutions.</p>
        <p>Therefore, I’ve worked on projects aimed at enhancing accessibility and developing digital platforms, such as the <strong>disability mobility rights project</strong> and the <strong>real-time seat tracking system</strong>.</p>
    </div>
    <p></p>

    <!-- Honors & Awards Section -->
    <div class="honors">
        <h2>Honors & Awards</h2>
        <table style="width: 100%; table-layout: fixed; border-spacing: 20px 10px;">
          <thead>
            <tr>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Award Name</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 17%;">Result</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 40%;">Details</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 10%;">Date</th>
      
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>IHEI Festa</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Top Award</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Impact Business Best Team, <strong>selected from the 30 teams</strong> that passed the preliminary round.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Jan 2024</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">IHEI Education Innovation Proposal Contest</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Proposed a subject "AI governance and public ethics."</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Jan 2024</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">AI Convergence Idea Contest</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Proposed a decentralized AI solution to address data monopolization.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Dec 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Wrtn Prompthon</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Top Award</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Created an AI communication tool that bridges the generation gap, <strong>selected from 20 teams</strong>.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Sept 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2023 Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Presented to students who are within the top 10% of their grade.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">IHEI Winter Workstation</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Developed a web platform to improve mobility access for individuals with disabilities using Kakao Maps API.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Feb 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2022 Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Presented to students who are within the top 10% of their grade.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2022</td>
            </tr>
          </tbody>
        </table>
        
        <!-- Scholarships Section -->
        <h2>Scholarships</h2>
        <table style="width: 100%; table-layout: fixed; border-spacing: 20px 10px;">
            <thead>
            <tr>
                <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Scholarship</th>
                <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">AI & Business Convergence Advanced Major Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">$1,500 for living expenses (Fall 2023)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Changgang Foundation Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Full tuition coverage (Spring 2023)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Yonsei University Merit-based Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">One-third tuition fees (Fall 2022)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Lee Doo-Won Scholarship, Yonsei School of Business</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">$1,900 for living expenses (Spring 2022)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Innovative Talent Scholarship (University Innovation Support Project)</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Living expenses support (Oct 2024)</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Projects Section -->
    <div class="projects">
            <!-- Project and Research Section -->
            <h2>Projects & Research</h2>
            <table>
                <tr>
                <td style="width:25%;"><img src="/tn/images/forblind_pptfirst.png" alt="project image" class="project-thumbnail"></td>
                <td style="width:75%;">
                    <h3>Web Project for Disability Mobility Rights</h3>
                    <div class="project_description">
                      <p><strong><a href="https://justina-03.github.io/" class="junghyun-link"">Junghyun Kim</a></strong>, Sohee Choi, Jihyeon Ryu, Seohyeon Yoon</p>
                      <p>🗓️ 2022.12 ~ 2023.2</p>
                      <p>Developed a web platform to improve mobility access for individuals with disabilities using Kakao Maps API.</p>
                      <a href="https://claireshyoon1.wixsite.com/my-site">Website</a> &nbsp;/&nbsp;
                      <a href="/pdfs/winter workstation.pdf">Presentation PDF</a>
                    </div>
                </td>
                </tr>
  
                <tr>
                <td style="width:25%;"><img src="/tn/images/uniflow_image.png" alt="project image" class="project-thumbnail"></td>
                <td style="width:75%;">
                  <h3>Real-Time Seat Tracking at Uni.flow</h3>
                  <div class="project_description">
                      <p><strong><a href="https://justina-03.github.io/" class="junghyun-link">Junghyun Kim</a></strong>, Doyoung Kweon, Yoonseo Jung, Hyunjin Kang</p>
                      <p>🗓️ 2023.8 ~ 2024.3</p>
                      <p>Developed a platform for tracking available seats in real-time in collaboration with the College of Engineering at Yonsei University.</p>
                      <a href="https://www.instagram.com/uniflow_official/">Instagram</a> &nbsp;/&nbsp;
                      <a href="https://www.notion.so/uniflow/Uni-flow-4d46b8be433041d9933eb0ada1dd8bc6">Team Notion</a> &nbsp;/&nbsp;
                      <a href="https://link.inpock.co.kr/y_place">Website</a> &nbsp;/&nbsp;
                      <a href="/pdfs/poster uniflow.pdf">Poster</a> &nbsp;/&nbsp;
                      <a href="/pdfs/uniflow portfolio.pdf">Portfolio</a>
                    </div>
                </td>
                </tr>
            </table>
    </div>

    <!-- Extracurricular Section -->
    <div class="Extracurricular">
        <h2>Extracurricular Activities</h2>
        <ul>
            <li>
                <strong>Mapo-gu Seogang Public Library</strong> - Student Worker (Sept. 2023 – Feb. 2024)<br>
                Managed book organization, handled book returns, and assisted library patrons.
            </li>
            <li>
                <strong>Math Academy</strong> - Administrative Assistant (Aug. 2022 – Dec. 2023)<br>
                Managed assignments and test results, checked attendance of students.
            </li>
            <li>
                <strong>Seoul Metropolitan Office of Education</strong> - Student Worker, Gender Equality Team (Mar. 2023 – Jun. 2023)<br>
                Assisted with office administration, managed incoming calls, shredded confidential papers.
            </li>
            <li>
                <strong>Codeit Boost (IT Bootcamp Club)</strong> - Design Team Member (March 2024 – Present)<br>
                Designed an app for students with difficulties obtaining exchange program information; earned top presenter award.
            </li>
            <li>
                <strong>Yonsei College of Engineering Computer Club (POOLC)</strong> - Member (March 2024 – Present)<br>
                Attended web development seminars and deepened AI knowledge through deep learning seminars.
            </li>
            <li>
                <strong>Youth Mentorship Program</strong> - Co-founder (Sept. 2023 – Present)<br>
                Co-founded a mentorship program for middle school students; raised over $2,750 for projects.
            </li>
        </ul>
    </div>
</div>


<!-- Honors Tabs -->
<div id="Honors" class="tabcontent">
    <div class="honors">
        <h2>Honors & Awards</h2>
        <table style="width: 100%; table-layout: fixed; border-spacing: 20px 10px;">
          <thead>
            <tr>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Award Name</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 17%;">Result</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 40%;">Details</th>
              <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd; width: 10%;">Date</th>
      
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>IHEI Festa</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Top Award</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Impact Business Best Team, <strong>selected from the 30 teams</strong> that passed the preliminary round.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Jan 2024</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">IHEI Education Innovation Proposal Contest</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Proposed a subject "AI governance and public ethics."</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Jan 2024</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">AI Convergence Idea Contest</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Proposed a decentralized AI solution to address data monopolization.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Dec 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Wrtn Prompthon</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;"><strong>Top Award</strong></td> <!-- 1등/대상 -->
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Created an AI communication tool that bridges the generation gap, <strong>selected from 20 teams</strong>.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Sept 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2023 Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Presented to students who are within the top 10% of their grade.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">IHEI Winter Workstation</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Excellence Award</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Developed a web platform to improve mobility access for individuals with disabilities using Kakao Maps API.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Feb 2023</td>
            </tr>
            <tr>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2022 Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Honors</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Presented to students who are within the top 10% of their grade.</td>
              <td style="padding: 12px; border-bottom: 1px solid #ddd;">Spring 2022</td>
            </tr>
          </tbody>
        </table>
        
        <!-- Scholarships Section -->
        <h2>Scholarships</h2>
        <table style="width: 100%; table-layout: fixed; border-spacing: 20px 10px;">
            <thead>
            <tr>
                <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Scholarship</th>
                <th style="text-align: left; padding: 12px; border-bottom: 1px solid #ddd;">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">AI & Business Convergence Advanced Major Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">$1,500 for living expenses (Fall 2023)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Changgang Foundation Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Full tuition coverage (Spring 2023)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Yonsei University Merit-based Scholarship</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">One-third tuition fees (Fall 2022)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Lee Doo-Won Scholarship, Yonsei School of Business</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">$1,900 for living expenses (Spring 2022)</td>
            </tr>
            <tr>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Innovative Talent Scholarship (University Innovation Support Project)</td>
                <td style="padding: 12px; border-bottom: 1px solid #ddd;">Living expenses support (Oct 2024)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="Projects" class="tabcontent">
    <div class="projects">
          <!-- Project and Research Section -->
            <h2>Projects & Research</h2>
            <table>
                <tr>
                <td style="width:25%;"><img src="/tn/images/forblind_pptfirst.png" alt="project image" class="project-thumbnail"></td>
                <td style="width:75%;">
                    <h3>Web Project for Disability Mobility Rights</h3>
                    <div class="project_description">
                    <p><strong><a href="https://justina-03.github.io/" class="junghyun-link"">Junghyun Kim</a></strong>, Sohee Choi, Jihyeon Ryu, Seohyeon Yoon</p>
                    <p>🗓️ 2022.12 ~ 2023.2</p>
                    </div>
                    <p>Developed a web platform to improve mobility access for individuals with disabilities using Kakao Maps API.</p>
                    <a href="https://claireshyoon1.wixsite.com/my-site">Website</a> &nbsp;/&nbsp;
                    <a href="/pdfs/winter workstation.pdf">Presentation PDF</a>
                </td>
                </tr>

                <tr>
                <td style="width:25%;"><img src="/tn/images/uniflow_image.png" alt="project image" class="project-thumbnail"></td>
                <td style="width:75%;">
                    <h3>Real-Time Seat Tracking at Uni.flow</h3>
                    <div class="project_description">
                    <p><strong><a href="https://justina-03.github.io/" class="junghyun-link">Junghyun Kim</a></strong>, Doyoung Kweon, Yoonseo Jung, Hyunjin Kang</p>
                    <p>🗓️ 2023.8 ~ 2024.3</p>
                    <p>Developed a platform for tracking available seats in real-time in collaboration with the College of Engineering at Yonsei University.</p>
                    <a href="https://www.instagram.com/uniflow_official/">Instagram</a> &nbsp;/&nbsp;
                    <a href="https://www.notion.so/uniflow/Uni-flow-4d46b8be433041d9933eb0ada1dd8bc6">Team Notion</a> &nbsp;/&nbsp;
                    <a href="https://link.inpock.co.kr/y_place">Website</a> &nbsp;/&nbsp;
                    <a href="/pdfs/poster uniflow.pdf">Poster</a> &nbsp;/&nbsp;
                    <a href="/pdfs/uniflow portfolio.pdf">Portfolio</a>
                    </div>
                </td>
                </tr>
            </table>
    </div>
</div>

<div id="Extracurricular" class="tabcontent">
    <h2>Extracurricular Activities</h2>
    <ul>
        <li>
            <strong>Mapo-gu Seogang Public Library</strong> - Student Worker (Sept. 2023 – Feb. 2024)<br>
            Managed book organization, handled book returns, and assisted library patrons.
        </li>
        <li>
            <strong>Math Academy</strong> - Administrative Assistant (Aug. 2022 – Dec. 2023)<br>
            Managed assignments and test results, checked attendance of students.
        </li>
        <li>
            <strong>Seoul Metropolitan Office of Education</strong> - Student Worker, Gender Equality Team (Mar. 2023 – Jun. 2023)<br>
            Assisted with office administration, managed incoming calls, shredded confidential papers.
        </li>
        <li>
            <strong>Codeit Boost (IT Bootcamp Club)</strong> - Design Team Member (March 2024 – Present)<br>
            Designed an app for students with difficulties obtaining exchange program information; earned top presenter award.
        </li>
        <li>
            <strong>Yonsei College of Engineering Computer Club (POOLC)</strong> - Member (March 2024 – Present)<br>
            Attended web development seminars and deepened AI knowledge through deep learning seminars.
        </li>
        <li>
            <strong>Youth Mentorship Program</strong> - Co-founder (Sept. 2023 – Present)<br>
            Co-founded a mentorship program for middle school students; raised over $2,750 for projects.
        </li>
    </ul>
</div>

  <br>
  <br>
</body>
</html>
